
host *
GSSAPIAuthentication yes
GSSAPIDelegateCredentials yes

host     amaroq
hostName gw.amaroq.net
User ryan

host     gw.amaroq.net
hostName gw.amaroq.net
User ryan

host     slac
hostName pc95124.slac.stanford.edu
User rherbst

host     pc95124.slac.stanford.edu
hostName pc95124.slac.stanford.edu
User rherbst

host     jlab
hostName login.jlab.org
User rherbst

