
host *
GSSAPIAuthentication yes
GSSAPIDelegateCredentials yes

host     amaroq
hostName gw.amaroq.net
User ryan

host     gw.amaroq.net
hostName gw.amaroq.net
User ryan

host     slac
hostName pc95124.slac.stanford.edu
User rherbst

host ubuntu-test
   hostName 134.79.129.142

Host smurf-srv09
    User cryo
    ForwardX11 yes
    ForwardX11Trusted yes
    Compression yes
    HostName localhost
    Port 9788

Host smurf-srv10
    User cryo
    ForwardX11 yes
    ForwardX11Trusted yes
    Compression yes
    HostName localhost
    Port 9798

Host rdsrv300
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv301
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv302
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv303
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv304
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv305
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv306
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv307
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv308
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv309
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv310
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv311
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv312
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv313
    PreferredAuthentications=password
    PubkeyAuthentication=no

Host rdsrv314
    PreferredAuthentications=password
    PubkeyAuthentication=no
